NODE_ENV=development

DATABASE_URL="postgresql://prontera:prontera_password@localhost:5432/prontera_commerce?schema=public"
REDIS_URL="redis://localhost:6379"

POSTGRES_DB=prontera_commerce
POSTGRES_USER=prontera
POSTGRES_PASSWORD=prontera_password
POSTGRES_PORT=5432
REDIS_PORT=6379
